%div.row
  %div.twelve.columns
    %h2
      Find or ask a question
    %div.row.collapse
      %form{ :remote => "true", :action => "/search" }
        %div.twelve.mobile-four.columns
          %input#search{ :type => "text" }
    %div#questions
