- @requests.each do |request|
  %div.row
    %div.two.columns
      #{request.total_votes} Votes
    %div.two.columns
      #{request.responses.count} Responses
    %div.eight.columns
      #{link_to request.title, request}

= link_to 'New Question', new_request_path
