- @responses.each do |response|
  %div.row.comment
    %button.general.foundicon-plus
      = link_to "Upvote", upvote_request_response(@response.request, @response)
    %button.general.foundicon-minus
      = link_to "Down Vote", downvote_request_response(@response.request, @response)
    %p.votes.two.columns
      #{response.total_votes}
    %p.url.ten.columns
      #{response.url}
