/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jquery.ui.autocomplete 
 *= require_tree .
 *= require jquery.tagsinput
 *= require general_enclosed_foundicons
 *= require general_enclosed_foundicons_ie7
 *= require _settings
*/

@font-face {
    font: {
        family: "Geared Slab";
        weight: normal;
        style: normal;
    }
    src: asset-url('GearedSlab.ttf', font);
}

@font-face {
    font: {
        family: "Geared Slab";
        weight: bold;
        style: normal;
    }
    src: asset-url('GearedSlab-Bold.ttf', font);
}

@font-face {
    font: {
        family: "Geared Slab";
        weight: lighter;
        style: normal;
    }
    src: asset-url('GearedSlab-Light.ttf', font);
}

.brand {
    font: {
        family: "Geared Slab";
        weight: bold;
    }
    text-transform: uppercase;
    padding-right: 8px;
    padding-left: 8px;
}

ul.nav {
    float: right;
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
}

ul.nav li {
    display: inline;
}

#flash_notice, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.right-align {
    text-align: right;
}

.container {
    margin: 0px auto;
    max-width: 900px;
    padding: 30px;
}

.request_badge{
  display: inline-block;
  border-radius: 500px;
  border-width: 4px;
  border-style: solid;
  background: #ffff00;
  border-color: #aacc00;
  padding: 25px;
}

.response_badge{
  display: inline-block;
  border-radius: 500px;
  border-width: 4px;
  border-style: solid;
  background: #ff0000;
  border-color: #cc00aa;
  padding: 25px;
}

.center {
    text-align: center;
}
