// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#search {
    margin-bottom: 0px;
}

ul#questions-autocomplete {
    display: none;
    list-style: none;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 5px 5px;

    a {
        display: block;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: 0px;
        }
    }

    li {
        padding: 10px;

        &:hover {
            background: #ddd;
        }
    }
}

ul.questions-sidebar {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;

    li.question-preview {
        border-bottom: 1px solid #ccc;
        padding: 8px;

        &:last-child {
            border-bottom: 0px;
        }

        &:hover {
            background: #ddd;
        }

        p, h6 {
            margin: 0px;
        }

        p {
            color: #999;
        }
    }
}
