// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.responses {
    list-style: none;
}

h2 {
    margin-top: 0px;
}

.controls {
    float: right;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 18px;
}

.votebox {
    margin-top: 0px;
    margin-bottom: 9px;
    
    p {
        margin-bottom: 0px;
    }

    .button {
        font-size: 18px;
    }
}
